<body>
    <link rel='stylesheet' href='/stylesheets/customerCart.css' />
    <div class="wrapper">
        

            <ul class="cart-list">

                <% for(var i=0; i<cart.length; i++) { %>

                    <li class="cart-item">
                        <img src=<%=cart[i].product.ava[0] %> alt="">

                        <div class="info">
                            <p class="item-name">
                                <%= cart[i].product.name %>
                            </p>
                            <div class="price-discount">
                                <span class="price">
                                    <%=cart[i].product.price %>
                                </span>
                            </div>
                        </div>
                        <div data-index=<%=i%> class="amount">
                            <i class="fa-solid fa-minus"></i>
                            <p class="quantity">
                                <%=cart[i].quantity%>
                            </p>
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </li>

                    <% } %>

            </ul>

            <div class="payment">
                <div class="inputShipping">
                    <input value="" name="address" type="text" class="address" placeholder="Enter your address: " required>
                </div>
                <div class="checkout">
                    <h2 class="total" id="paypal_total">Total: <%=total%> </h2>
                    <h2 class="total" id="paypal_total">Your Wallet: <%=wallet%> </h2>
                    <input id="notify" value = "<%=notify%>" disabled>
                    <button class="checkout-btn">Checkout</button>
                    <div id="paypal"></div>
                </div>
            </div>

    </div>
    <script>
        const minus = document.querySelectorAll(".fa-minus");
        const plus = document.querySelectorAll(".fa-plus");
        const cartList = document.querySelector('.cart-list');
        const total = document.querySelector('#paypal_total');
        const quantity = document.querySelectorAll('.quantity');
        const notify = document.querySelector('#notify');
        const checkoutBtn = document.querySelector('.checkout-btn');
        const address = document.querySelector('.address');

        function quantityClick() {
            minus.forEach(element => {
                element.addEventListener('click', ((e) => {
                    var xhttp = new XMLHttpRequest()
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            const data = JSON.parse(xhttp.responseText);
                            quantity[e.target.parentNode.dataset.index].innerText = data.cart[e.target.parentNode.dataset.index].quantity;
                            if (quantity[e.target.parentNode.dataset.index].innerText <= 0) {
                                cartList.removeChild(e.target.parentNode.parentNode);
                            }
                            total.innerText = `Total: ${data.total}`;
                        }
                    }
                    xhttp.open('POST', window.location.href + `/minus-${e.target.parentNode.dataset.index}`, true)
                    xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
                    xhttp.send();
                }))
            })

            plus.forEach(element => {
                element.addEventListener('click', ((e) => {
                    var xhttp = new XMLHttpRequest()
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            const data = JSON.parse(xhttp.responseText);
                            quantity[e.target.parentNode.dataset.index].innerText = data.cart[e.target.parentNode.dataset.index].quantity;
                            if (quantity[e.target.parentNode.dataset.index].innerText == 0) {
                                cartList.removeChild(e.target.parentNode.parentNode);
                            }
                            total.innerText = `Total: ${data.total}`;
                        }
                    }
                    xhttp.open('POST', window.location.href + `/plus-${e.target.parentNode.dataset.index}`, true)
                    xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
                    xhttp.send();
                }))
            })
        }
        function checkout() {
            checkoutBtn.onclick = () => {

                var xhttp = new XMLHttpRequest()
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            const data = JSON.parse(xhttp.responseText);
                            notify.value = data.notify;
                        }
                    }
                    xhttp.open('POST', `/cart/checkout/<%= user.id %>`, true)
                    xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
                    xhttp.send(`address=${address.value}`);
            }
        }
        quantityClick();
        checkout();


    </script>
</body>