<body>
    <link rel='stylesheet' href='/stylesheets/customerCart.css' />
    <div class="wrapper">
        <form class="w-100" method="POST" action="/cart/checkout/<%= user.id %>" id="checkout_form">

            <ul class="cart-list">

                <% for(var i=0; i<cart.length; i++) { %>

                    <li class="cart-item">
                        <img src=<%=cart[i].product.ava[0] %> alt="">

                        <div class="info">
                            <p class="item-name">
                                <%= cart[i].product.name %>
                            </p>
                            <div class="price-discount">
                                <span class="price">
                                    <%=cart[i].product.price %>
                                </span>
                            </div>
                        </div>
                        <div data-index=<%=i%> class="amount">
                            <i class="fa-solid fa-minus"></i>
                            <p class="quantity">
                                <%=cart[i].quantity%>
                            </p>
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </li>

                    <% } %>

            </ul>

            <div class="payment">
                <div class="inputShipping">
                    <input name="address" type="text" class="address" placeholder="Enter your address: " required>
                </div>
                <div class="checkout">
                    <h2 class="total" id="paypal_total">Total: <%=total%>
                    </h2>
                    <button type="submit" class="checkout-btn">Checkout</button>
                    <div id="paypal"></div>
                </div>
            </div>


        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        function minusClick() {
            const minus = document.querySelector(".fa-minus");
            const cartList = document.querySelector('.cart-list');
            const total = document.querySelector('#paypal_total');
            const event = minus.addEventListener("click", ((e) => {
                var xhttp = new XMLHttpRequest()
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        const data = JSON.parse(xhttp.responseText);
                        cartList.innerHTML = '';
                        data.cart.forEach((element, index) => {
                            cartList.innerHTML += `
                        <li class="cart-item">
                            <img src=${element.product.ava[0]} alt="">

                            <div class="info">
                                <p class="item-name">
                                    ${element.product.name}
                                </p>
                                <div class="price-discount">
                                    <span class="price">
                                        ${element.product.price}
                                    </span>
                                </div>
                            </div>
                            <div data-index=${index} class="amount">
                                <i class="fa-solid fa-minus"></i>
                                <p class="quantity">
                                    ${element.quantity}
                                </p>
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </li>
                        `
                        })
                        total.innerText = data.total;
                        minusClick();
                        plusClick();
                    }
                }
                xhttp.open('POST', window.location.href + `/minus-${e.target.parentNode.dataset.index}`, true)
                xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
                xhttp.send();
            }));
        }
        minusClick();

        function plusClick() {
            const plus = document.querySelector(".fa-plus");
            const cartList = document.querySelector('.cart-list');
            const total = document.querySelector('#paypal_total');
            const event = plus.addEventListener("click", ((e) => {
                var xhttp = new XMLHttpRequest()
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        const data = JSON.parse(xhttp.responseText);
                        cartList.innerHTML = '';
                        data.cart.forEach((element, index) => {
                            cartList.innerHTML += `
                        <li class="cart-item">
                            <img src=${element.product.ava[0]} alt="">

                            <div class="info">
                                <p class="item-name">
                                    ${element.product.name}
                                </p>
                                <div class="price-discount">
                                    <span class="price">
                                        ${element.product.price}
                                    </span>
                                </div>
                            </div>
                            <div data-index=${index} class="amount">
                                <i class="fa-solid fa-minus"></i>
                                <p class="quantity">
                                    ${element.quantity}
                                </p>
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </li>
                        `
                        })
                        total.innerText = data.total;
                        plusClick();
                        minusClick();

                    }
                }
                xhttp.open('POST', window.location.href + `/plus-${e.target.parentNode.dataset.index}`, true)
                xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
                xhttp.send();
            }));
        }
        plusClick();

    </script>
</body>