<body style="background-color: black; color: black; min-height: 100vh;">
  <link rel='stylesheet' href='/stylesheets/customerHome.css' />
  <div class="wrapper">

    <div class="banner">

      <div class="banner-1">
        <img src="../public/images/banner-1.jpg" alt="">
      </div>

      <div class="banner-23">

        <div class="banner-2">
          <img src="../public/images/banner-2.png" alt="">
        </div>

        <div class="banner-3">
          <img src="../public/images/banner-3.png" alt="">
        </div>

      </div>

    </div>

    <form class="w-100" method="POST" action="/">

      <div class="component">
        <h1>Best Seller</h1>

        <ul class="component-list">

          <% for(var i=0; i<bestSeller.length; i++) { %>

            <li class="component-item">
              <a href="/detail/<%= bestSeller[i]._id %> ">
                <img src=<%=bestSeller[i].ava[0] %> alt="">
                <p class="item-name">
                  <%= bestSeller[i].name %>
                </p>
                <div class="price-discount">
                  <span class="price">
                    <%=bestSeller[i].price %>
                  </span>
                </div>
              </a>
            </li>
            <% } %>

        </ul>
      </div>

      <div class="new-product">
        <form class="w-100" method="POST" action="/">
          <h1>New Product</h1>

          <ul class="component-list newProduct">

            <% for(var i=0; i<newProduct.length; i++) { %>

              <li class="component-item">
                <a href="/detail/<%= newProduct[i]._id %> ">
                  <img src=<%=newProduct[i].ava[0] %> alt="">
                  <p class="item-name">
                    <%= newProduct[i].name %>
                  </p>
                  <div class="price-discount">
                    <span class="price">
                      <%=newProduct[i].price %>
                    </span>
                  </div>
                </a>
              </li>
              <% } %>

          </ul>
          <div class="navigation">
            <% for(var i=0; i<size; i++) { %>
              <div data-index="<%=i%>" class="page">
                <%= i+1 %>
              </div>
              <% } %>
          </div>
        </form>

      </div>

      <div class="brand">
        <h1>Top Brand</h1>

        <ul class="component-list">

          <% for(var i=0; i<brand.length; i++) { %>

            <li class="component-item">
              <a href="/collections">
                <img src=<%=brand[i].ava %> alt="">
                <p class="item-name">
                  <%= brand[i].name %>
                </p>
              </a>
            </li>

            <% } %>

        </ul>

      </div>

    </form>
  </div>

  <script>
    const page = document.querySelectorAll(".page")
    const newProduct = document.querySelector('.newProduct');

    let currentPage = 0;
    let perPage = 5;

    function paging() {

      page.forEach((p) => {
        p.addEventListener("click", ((e) => {
          currentPage = e.target.dataset.index;
          var xhttp = new XMLHttpRequest()
          xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
              const data = JSON.parse(xhttp.responseText);
              newProduct.innerHTML = '';
              data.newProduct.forEach((element, index) => {
                newProduct.innerHTML += `
              <li class="component-item">
                <a href="/detail/${element._id} ">
                  <img src=${element.ava[0]} alt="">
                  <p class="item-name">
                    ${element.name}
                  </p>
                  <div class="price-discount">
                    <span class="price">
                      ${element.price}
                    </span>
                  </div>
                </a>
              </li>
                        `
              })
            }
          }
          xhttp.open('POST', `/paging-${currentPage * perPage}`, true)
          xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
          xhttp.send();
        }));
      })
    }
    paging();
  </script>

</body>