<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sneaker Jeeps</title>

  <link rel="icon" href="/images/logo.png">
  <link rel='stylesheet' href='/stylesheets/customerStyle.css' />
  <link rel='stylesheet' href='/stylesheets/customerDetail.css' />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <script
    src="https://www.paypal.com/sdk/js?client-id=AWp_oa27F9ymLsQguYsG1sFej3qXD0yhPn26C0gpll4Qun5zKs7jjq7zIWPGOEcrI_j0hd8cl17nGjBs"
    data-namespace="paypal_sdk"></script>
</head>

<body>
  <div class="header">
    <ul class="nav">
      <li class="nav-item">
        <a href="/">
          <img class="logo" src="/public/images/logo.png" alt="">
        </a>
      </li>
      <li class="nav-item">
        <a href="/">Home</a>
      </li>
      <li class="nav-item">
        <a href="/collections">Collections</a>
      </li>
      <li class="nav-item">
        <a href="/about">About us</a>
      </li>
      <li class="nav-item">
        <label for="nav-search"><i class="fa-solid fa-magnifying-glass" style="color: white;"></i></label>
        <input type="text" class="nav-search" placeholder="Search something...">
      </li>

    </ul>

    <ul class="nav">
      <li class="nav-item dropdown">
        <% if (user) { %>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-user" style="width: 24px;"></i>
            <%= user.name %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/auth/profile/<%= user.id %> " style="color: black">See your profile</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/auth/order/<%= user.id %>" style="color: black">View order list</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/auth/logout" style="color: black;">Log out</a></li>
          </ul>
          <% } else { %>
            <a href="auth/login">Log in</a>
            <% } %>
      </li>




      <li class="nav-item">
        <% if (user) { %>
          <a href="/cart/<%= user.id %>"><i class="fa-solid fa-cart-shopping"></i></a>
          <% } else { %>
            <a href="/cart/"><i class="fa-solid fa-cart-shopping"></i></a>
            <% } %>
      </li>
    </ul>

  </div>

  <%-body%>

    <div class="footer">
      <ul class="list-policy">
        <li class="policy-item policy-item--separate"><a href="">Chính Sách Bảo Mật</a></li>
        <li class="policy-item policy-item--separate"><a href="">Quy Chế Hoạt Động</a></li>
        <li class="policy-item policy-item--separate"><a href="">Chính Sách Vận Chuyển</a></li>
        <li class="policy-item"><a href="">Chính Sách Trả Hàng Và Hoàn Tiền</a></li>
      </ul>
      <div class="certificate">
        <a href=""><img src="/public/images/footer1.png" alt="" class="certificate-img"></a>
        <a href=""><img src="/public/images/footer2.png" alt="" class="certificate-img"></a>
      </div>
      <p class="ending-script">Công ty TNHH Sneaker Jeeps</p>
      <p class="ending-script">Địa chỉ: 227 Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh, Việt Nam. Tổng
        đài
        hỗ trợ: 0915871099 - Email: cskh@hotro.sneakerjeeps.vn</p>
      <p class="ending-script">Chịu Trách Nhiệm Quản Lý Nội Dung: Trần Nguyên Trung - Điện thoại liên hệ:
        0915871099
      </p>
      <p class="ending-script">Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày
        10/02/2015</p>
      <p class="ending-script">© 2015 - Bản quyền thuộc về Trần Nguyên Trung, Vũ Đức Quang Huy, Trần Bảo Phú</p>
    </div>

    <!-- <script src="../public/javascripts/customer.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
    <script>
      const search = document.querySelector('.nav-search');
      search.onchange = (e) => {
        if (window.location.pathname != '/search') {
          window.location.pathname = `search/${e.target.value}`;
        }
        
      }
    </script>
    <script src="/javascripts/paypal.js"></script>
</body>

</html>