<div class='admin_container'>
	<div class='sidebar'>
		<img src={{ava}} alt='Avatar' />
		<p>Hi, {{username}}</p>
		<br /><hr />
		<nav>
			<div class='sidebar_item'>
				<i class='fa-solid fa-user'></i>
				<a href='/admin'>Admin</a>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-list'></i>
				<a href='/account'>Account</a>
				<i class='fa-solid fa-caret-down'></i>
				<div class='sidebar_subitem'>
					<a href='/account'>View account list</a>
					<a href='/account/ban'>Ban account</a>
					<a href='/account/unban'>Unban account</a>
				</div>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-cart-flatbed'></i>
				<a href='/product'>Product</a>
				<i class='fa-solid fa-caret-down'></i>
				<div class='sidebar_subitem'>
					<a href='/product'>View product list</a>
					<a href='/product/add'>Add new product</a>
					<a href='/product/update'>Update product</a>
				</div>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-money-bills'></i>
				<a href='/order'>Order</a>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-right-from-bracket'></i>
				<a href='/logout'>Logout</a>
			</div>
			<hr />
		</nav>
	</div>
	<div class='admin_body'>
		<h1>Details</h1>
		<hr />
		<div class='order_detailsContainer'>
			<div><b>ID:</b> {{order._id}}</div>
			<div><b>Address:</b> {{order.address}}</div>
			<div><b>Created on:</b> {{order.iat}}</div>
			<div id='order_status'><b>Status:</b> {{order.status}}</div>
			{{#each products}}
				<div class='order_itemContainer'>
					<img src={{this.ava}} alt='' />
					<div>{{this.name}}</div>
					<div>{{this.price}}$</div>
					<div>x{{this.quantity}}</div>
				</div>
			{{/each}}
			<div style='text-align: right;'><b>Total:</b> {{order.totalPrice}}$</div>
			<div style='text-align: right;'>
				{{#if order.isPending}}
					<button class='order_deli' id={{order._id}} style='background-color: #3298dc;'>Delivery</button>
					<button class='order_done' id={{order._id}} style='background-color: green;'>Done</button>
				{{/if}}
				{{#if order.isDelivery}}
					<button class='order_done' id={{order._id}} style='background-color: green;'>Done</button>
				{{/if}}
			</div>
		</div>
	</div>
</div>
<script src='/javascripts/admin/orderStatus.js'></script>