<div class='admin_container'>
	<div class='sidebar'>
		<img src={{ava}} alt='Avatar' />
		<p>Hi, {{username}}</p>
		<br /><hr />
		<nav>
			<div class='sidebar_item'>
				<i class='fa-solid fa-user'></i>
				<a href='/admin'>Admin</a>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-list'></i>
				<a href='/account'>Account</a>
				<i class='fa-solid fa-caret-down'></i>
				<div class='sidebar_subitem'>
					<a href='/account'>View account list</a>
					<a href='/account/ban'>Ban account</a>
					<a href='/account/unban'>Unban account</a>
				</div>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-cart-flatbed'></i>
				<a href='/product'>Product</a>
				<i class='fa-solid fa-caret-down'></i>
				<div class='sidebar_subitem'>
					<a href='/product'>View product list</a>
					<a href='/product/add'>Add new product</a>
					<a href='/product/update'>Update product</a>
				</div>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-money-bills'></i>
				<a href='/order'>Order</a>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-right-from-bracket'></i>
				<a href='/logout'>Logout</a>
			</div>
			<hr />
		</nav>
	</div>
	<div class='admin_body'>
		<h1>Orders</h1>
		<hr />
		<input type='text' placeholder='Search...' class='admin_search' id='account_search' />
		<div class='admin_accountContainer'>
			<div class='account_list'>
				<div style='display: grid;grid-template-columns: 20% 35% 35% 10%'>
					<h3>Status</h3>
					<h3>Address</h3>
					<h3>Total</h3>
				</div>
				<hr />
				<div id='account_listRoot'>
					{{#each orders}}
						<div class='account_item'>
							<p>{{this.status}}</p>
							<p>{{this.address}}</p>
							<p>{{this.totalPrice}}$</p>
							<a href='' id={{this._id}} class='account_details'>Details</a>
						</div>
						<hr />
					{{/each}}
				</div>
			</div>
			<div class='paginContainer' id='account_pagin'>
			</div>
		</div>
	</div>
</div>
<script src='/javascripts/admin/order.js'></script>