<div class='admin_container'>
	<div class='sidebar'>
		<img src={{ava}} alt='Avatar' />
		<p>Hi, {{username}}</p>
		<br /><hr />
		<nav>
			<div class='sidebar_item'>
				<i class='fa-solid fa-user'></i>
				<a href='/admin'>Admin</a>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-list'></i>
				<a href='/account'>Account</a>
				<i class='fa-solid fa-caret-down'></i>
				<div class='sidebar_subitem'>
					<a href='/account'>View account list</a>
					<a href='/account/ban'>Ban account</a>
					<a href='/account/unban'>Unban account</a>
				</div>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-cart-flatbed'></i>
				<a href='/product'>Product</a>
				<i class='fa-solid fa-caret-down'></i>
				<div class='sidebar_subitem'>
					<a href='/product'>View product list</a>
					<a href='/product/add'>Add new product</a>
					<a href='/product/update'>Update product</a>
				</div>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-money-bills'></i>
				<a href='/order'>Order</a>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-right-from-bracket'></i>
				<a href='/logout'>Logout</a>
			</div>
			<hr />
		</nav>
	</div>
	<div class='admin_body'>
		<h1>Products</h1>
		<hr />
		<div style='display: flex; justify-content: space-between;'>
			<input type='text' placeholder='Search...' class='admin_search' id='account_search' />
			<form class='sort'>
				<fieldset>
					<legend>Sort:</legend>
					<input type='radio' id='account_sortUsername' name='account_sort' value='username' checked='checked' />
					<label for='account_sortUsername'>Name</label><br />
					<input type='radio' id='account_sortIat' name='account_sort' value='iat' />
					<label for='account_sortIat'>Price</label><br />
				</fieldset>
			</form>
		</div>
		<div class='admin_accountContainer'>
			<div class='account_list'>
				<div style='display: grid;grid-template-columns: 20% 35% 35% 10%'>
					<h3>Image</h3>
					<h3>Name</h3>
					<h3>Price</h3>
				</div>
				<hr />
				<div id='account_listRoot'>
					{{#each products}}
						<div class='account_item'>
							<img src={{this.ava}} alt='Avatar' />
							<p>{{this.name}}</p>
							<p>{{this.price}}$</p>
							<a href='' id={{this._id}} class='account_details'>Details</a>
						</div>
						<hr />
					{{/each}}
				</div>
			</div>
			<div class='paginContainer' id='account_pagin'>
			</div>
		</div>
	</div>
</div>
<script src='/javascripts/admin/product.js'></script>