<div class='admin_container'>
	<div class='sidebar'>
		<img src={{ava}} alt='Avatar' />
		<p>Hi, {{username}}</p>
		<br /><hr />
		<nav>
			<div class='sidebar_item'>
				<i class='fa-solid fa-user'></i>
				<a href='/admin'>Admin</a>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-list'></i>
				<a href='/account'>Account</a>
				<i class='fa-solid fa-caret-down'></i>
				<div class='sidebar_subitem'>
					<a href='/account'>View account list</a>
					<a href='/account/ban'>Ban account</a>
					<a href='/account/unban'>Unban account</a>
				</div>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-cart-flatbed'></i>
				<a href='/product'>Product</a>
				<i class='fa-solid fa-caret-down'></i>
				<div class='sidebar_subitem'>
					<a href='/product'>View product list</a>
					<a href='/product/add'>Add new product</a>
					<a href='/product/update'>Update product</a>
				</div>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-money-bills'></i>
				<a href='/order'>Order</a>
				<i class='fa-solid fa-caret-down'></i>
				<div class='sidebar_subitem'>
					<a href='/order'>View order list</a>
					<a href='/order/update'>Update order status</a>
				</div>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-right-from-bracket'></i>
				<a href='/logout'>Logout</a>
			</div>
			<hr />
		</nav>
	</div>
	<div class='admin_body'>
		<h1>Details</h1>
		<hr />
		<div class='account_detailsContainer'>
			<img src={{user.ava}} alt='Avatar' />
			{{#if isAdmin}}
				<div>
					<h3>ID:</h3>
					<p>{{user._id}}</p>
					<h3>Username:</h3>
					<p>{{user.username}}</p>
				</div>
				<div>
					<h3>Role:</h3>
					<p>{{user.role}}</p>
					<h3>Verified:</h3>
					<p>{{user.verified}}</p>
				</div>
			{{else}}
				<div>
					<h3>Email:</h3>
					<p>{{user.username}}</p>
					<h3>Name:</h3>
					<p>{{user.name}}</p>
				</div>
				<div style='margin-right: 50px;'>
					<h3>Role:</h3>
					<p>{{user.role}}</p>
					<h3>Ban:</h3>
					<p>{{user.ban}}</p>
				</div>
			{{/if}}
		</div>
	</div>
</div>